@using Aytaam.Core.Dtos.Orphans
@model InputOrphanDto
<div class="modal-dialog modal-dialog-centered mw-550px">
    <div class="modal-content">
        <div class="modal-header" id="kt_modal_add_orphan_header">
            <h2 class="fw-bold">@(Model.Code == null ? "إضافة مستخدم" : "تعديل مستخدم")</h2>
            <div class="btn btn-icon btn-sm btn-active-icon-success" data-kt-orphans-modal-action="close">
                <span class="svg-icon svg-icon-1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="modal-body scroll-y  my-7">
            <form id="kt_modal_add_orphan_form" class="form px-7" enctype="multipart/form-data">
                <div class="scroll-y  " id="kt_modal_add_orphan_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_orphan_header" data-kt-scroll-wrappers="#kt_modal_add_orphan_scroll" data-kt-scroll-offset="300px">
                    <input asp-for="Code" id="Code" type="hidden" />
                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2" asp-for="FullName"></label>
                        <input asp-for="FullName" id="FullName" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="إسم  المستخدم" autocomplete="off" />
                    </div>
                    <div class='separator separator-dashed my-5'></div>

                    <div class='separator separator-dashed my-5'></div>
                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2" asp-for="OrphanType"></label>
                        <div class="d-flex align-items-center gap-2">
                            <select class="form-select form-select-solid fw-bold w-100" asp-for="OrphanType" id="OrphanType" asp-items="Model.OrphanTypes" data-kt-select2="true" data-placeholder="اختر نوع الجساب " data-allow-clear="true" data-hide-search="true"><option></option></select>
                        </div>
                    </div>
                    <div class='separator separator-dashed my-5'></div>
                    @*<div class="fv-row mb-8 fv-plugins-icon-container" data-kt-password-meter="true">
                    <div class="mb-1">
                    <div class="position-relative mb-3">
                    <input class="form-control bg-transparent" type="password" placeholder="أدخل كلمة المرور" asp-for="Password" autocomplete="off">

                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 me-n2" style="left:10px;transform:translate(0,-50%)  !important" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                    </span>
                    </div>
                    </div>
                    <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                    </div>
                    <div class="text-muted">استخدم 8 أحرف أو أكثر مع مزيج من الأحرف والأرقام والرموز</div>
                    <span asp-validation-for="Password" class="v-plugins-message-container invalid-feedback"></span>
                    </div>
                    *@
                </div>
                <div class="text-center pt-15">
                    <button type="reset" class="btn btn-light me-3" data-kt-orphans-modal-action="cancel">
                        إلغاء
                    </button>
                    <button type="submit" class="btn btn-success" data-kt-orphans-modal-action="submit">
                        <span class="indicator-label">إرسال</span>
                        <span class="indicator-progress">
                            رجاءاً أنتظر<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>
