<link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet" />

<style>
    .swiper-pagination {
        bottom: 40px;
        left: 0;
        right: 0;
    }

        .swiper-pagination .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
            margin: 4px;
            background: var(--light-gray-color);
            opacity: 1;
            transition: background 0.3s ease-out;
        }

        .swiper-pagination .swiper-pagination-bullet {
            background: white;
        }

            .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #FFC43F;
            }

    .swiper-button-next, .swiper-button-prev {
        background-color: #017960 !important;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white !important;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s;
    }

        .swiper-button-next:hover, .swiper-button-prev:hover {
            background-color: #015f48 !important;
        }

        .swiper-button-next::after, .swiper-button-prev::after {
            font-size: 20px;
            color: white;
        }
</style>
@section PageHeader {
    <div class="d-flex flex-column flex-center w-100 min-h-40px min-h-lg-40px px-9">
        <div class="text-center mb-5 mb-lg-10 py-10 py-lg-20">
            <div class=" lh-base fw-bold   mb-15">
                <p class="text-success fs-2x fs-lg-3x">من نحن</p>
                <h1 class="text-white lh-xl">
                    في عالم مليء بالتحديات، يولد الأمل من رحم العطاء. "أيتام" ليست مجرد منصة إلكترونية، بل نافذة تفتح على مستقبل أكثر إشراقًا لأطفال غزة الذين فقدوا السند، نحن منصة الكترونية وامتداد من القلوب الرحيمة في غزة ، نسعى لمدّ جسور التواصل بين الأيتام الذين يحتاجون إلى كفالة في غزة وعددهم يزيد عن 90 الف، وبين القلوب التي تتوق للعطاء بشكل الكتروني محوسب وسهل . رؤيتنا ليست مجرد توفير الدعم المادي، بل خلق بيئة تضمن لهم التعليم، الرعاية الصحية، والأمان العاطفي، ليصبحوا قادرين على بناء مستقبلهم بأيديهم.
                </h1>

            </div>
        </div>
    </div>

    }


<div class="container-xl">
    <section class="">
        <div class="container-fluid px-1">
            <p class="text-success fs-2x fs-lg-3x text-center fw-bold">ماذا نقدم ؟</p>

            <div class="row p-0 g-0 ">
                <div class="col-md-12 p-0 about-us-swiper ">
                    <div class="swiper rounded-5 main-swiper landing-dark-bg rounded-3 h-100">
                        <div class="swiper-wrapper   h-100" style="height:300px !important;">
                            <div class="swiper-slide  h-100">
                                <div class="row h-100  g-0  banner-content w-100 h-100 g-0">
                                    <div class="col h-100 d-flex justify-content-center align-items-center flex-column p-5">

                                        <h1 class="fw-bold  lh-xl  text-center text-white mt-3">
                                            قاعدة بيانات شفافة تتيح للمتبرعين استعراض ملفات الأيتام
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide  h-100">
                                <div class="row h-100  g-0  banner-content w-100 h-100  g-0">
                                    <div class="col h-100 d-flex justify-content-center align-items-center flex-column p-5">

                                        <h1 class="fw-bold  lh-xl    text-center text-white mt-3">
                                            إمكانية الفلترة والبحث لاختيار اليتيم بسهولة.
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row h-100  g-0  banner-content w-100 h-100  g-0">
                                    <div class="col h-100 d-flex justify-content-center align-items-center flex-column p-5">

                                        <h1 class="fw-bold  lh-xl   text-center text-white mt-3">
                                            توثيق لكل يتيم بمستنداته الرسمية لضمان الشفافية.
                                        </h1>
                                    </div>
                                </div>
                            </div> <div class="swiper-slide">
                                <div class="row h-100  g-0  banner-content w-100 h-100  g-0">
                                    <div class="col h-100 d-flex justify-content-center align-items-center flex-column p-5">

                                        <h1 class="fw-bold  lh-xl   text-center text-white mt-3">
                                            تحديث فوري لحالة الكفالة بمجرد إتمامها.
                                        </h1>
                                    </div>
                                </div>
                            </div> <div class="swiper-slide">
                                <div class="row h-100  g-0  banner-content w-100 h-100  g-0">
                                    <div class="col h-100 d-flex justify-content-center align-items-center flex-column p-5">

                                        <h1 class="fw-bold  lh-xl   text-center text-white mt-3">
                                            نظام تواصل مباشر عبر واتساب لمتابعة إجراءات الكفالة.
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container-lg  py-20">
    <div class="mb-15">
        <h1 class=" mb-2 text-warning text-center fs-2hx mb-10">
            أسئلة وأجوبة حول كفالة الأيتام
        </h1>
        <!--begin::Accordion-->
        <div class="card">
            <div class="accordion" id="kt_accordion_1">

                <div class="accordion-item">
                    <h1 class="accordion-header" id="kt_accordion_1_header_1">
                        <button class="accordion-button fs-3 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="false" aria-controls="kt_accordion_1_body_1">
                            من هو اليتيم؟
                        </button>
                    </h1>
                    <div id="kt_accordion_1_body_1" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
                        <div class="accordion-body fs-4">
                            الطفل الذي يقل عمره عن 18 عامًا ويعيش دون والدين أحدهما أو كلاهما.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h1 class="accordion-header" id="kt_accordion_1_header_2">
                        <button class="accordion-button fs-3 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_2" aria-expanded="false" aria-controls="kt_accordion_1_body_2">
                            هل يتلقى اليتيم أموال الكفالة كل شهر؟
                        </button>
                    </h1>
                    <div id="kt_accordion_1_body_2" class="accordion-collapse  collapse" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
                        <div class="accordion-body fs-4">
                            يتلقى الوصي على اليتيم دفعة شهرية في بداية كل شهر.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h1 class="accordion-header" id="kt_accordion_1_header_3">
                        <button class="accordion-button fs-3 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_3" aria-expanded="false" aria-controls="kt_accordion_1_body_3">
                            كيف يتم إنفاق أموال الكفالة؟
                        </button>
                    </h1>
                    <div id="kt_accordion_1_body_3" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_3" data-bs-parent="#kt_accordion_1">
                        <div class="accordion-body fs-4">
                            تُستخدم لتلبية الاحتياجات الأساسية، التعليم، والرعاية الصحية للأيتام.

                        </div>
                    </div>
                </div>

            </div>




        </div>
    </div>

</div>



<div class="container-lg py-10  ">
    <div class="mb-15 text-center">
        <h1 class="mb-2 text-warning fs-2hx mb-10">لماذا منصة أيتام؟</h1>
        <h1 class="lh-xl">
            لأننا نؤمن أن كل يتيم يستحق فرصة عادلة في الحياة، وأن الدعم لا يقتصر على المال، بل يشمل الاهتمام، الحب، والإحساس بالأمان.

        </h1>
    </div>
</div>

<div class="container-lg py-10">
    <div class="mb-15 text-center">
        <h1 class="mb-2 text-warning fs-2hx mb-10">الرؤية</h1>
        <h1 class=" lh-xl">
            أن نكون الجسر الذي يربط بين أصحاب القلوب الرحيمة والأيتام، لنؤسس جيلاً قويًا، متعلمًا، ومستقرًا نفسيًا واجتماعيًا.
        </h1>
    </div>
</div>




@section Scripts {
    <script src="/lib/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.main-swiper', {
                loop: true,
                autoplay:true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
    </script>
    }